body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

p {
  width: 80%;
  margin: 50px auto;
  text-align: justify;
}

a {
  display: block;
  text-align: center;
  margin: 50px auto;
}
