body {
  font-family: Arial, sans-serif;
  margin: 100px;
  padding: 100px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
  margin: 20px 0;
}

a {
  display: block;
  margin: 40px 0;
  text-align: center;
}
